.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--background);
}

.home-section > header > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: var(--white);
  text-align: center;
}